.keep-in-touch
{
    width: 100%;
    height: 1290px;
    background-color: #f4f5f9;
}

.keep-in-touch .container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-back {
  width: 300px;
  height: 200px;
  margin-top: 62px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.info 
{
    width: calc(45% - 25px);
    height: 570px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}  

.service-blocks 
{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 62px;
}

.keep-in-touch-heading 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.keep-in-touch-heading h2 
{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 36px;
    color: #6a6a6a;
    margin-top: 140px;
    line-height: 36px;
}

.keep-in-touch-heading p 
{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    margin-top: 30px;
    line-height: 14px;
}

.keep-in-touch .figure 
{
    margin-top: 23px;
}

.info-block p
{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #999;
    font-weight: 400;
    margin-top: 18px;
    text-align: left;
}

.info-block h3
{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #e74e3e;
    font-size: 24px;
    text-align: left;
}

.info-block
{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 58px;
}

.first-info-block 
{
    margin-top: 92px;
}

.message 
{
    width: 55%;
    height: 570px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.small-input
{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}

.big-textarea
{
    width: 100%;
    height: 110px;
    margin-top: 26px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #999999;
    font-size: 14px;
    resize: none;
}

.message-submit
{
    background-color: #e74e3e;
    width: 157px;
    height: 43px;
    border-radius: 5px;
    margin-top: 30px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    border: none;
    font-size: 14px;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.message-submit:hover
{
    background-color: #e8857b;
    transition: 0.4s;
}

.message .container 
{
    margin-top: 45px;
}

@media screen and (max-width: 700px)
{
    .keep-in-touch-heading 
    {
        text-align: center;
    }
    .service-blocks
    {
        flex-direction: column;
    }
    .info, .message
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .keep-in-touch
    {
        height: 1480px;
    }
    .message
    {
        margin-top: 50px;
    }
    .message .container 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }
    .message button 
    {
        margin-top: 70px;
    }
    .info-block 
    {
        margin-top: 0;
    }
    .info 
    {
        justify-content: space-between;
        height: 320px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .keep-in-touch-heading h2 
    {
        margin-top: 100px;
    }
}
  
