#features .container 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#features 
{
    width: 100%;
    height: 415px;
}

.feature 
{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.feature hr 
{
    width: 40px;
    height: 1px;
    border: none;
    background-color: #888888;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.feature h3 
{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #6a6a6a;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.feature p 
{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #999999;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.feature img 
{
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
}

.feature-highlighted-heading
{
    color: #e74c3c !important;
}

